<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/header">header</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">Phone</th>
        <th scope="col">CourseName</th>
        <th scope="col">Date(start)</th>
        <th scope="col">Date(end)</th>
        <th scope="col">Money</th>
        <th scope="col">Paid</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="invoice : ${invoicesDto}">
        <td th:text=${invoice.firstName}>FirstName</td>
        <td th:text=${invoice.lastName}>LastName</td>
        <td th:text=${invoice.phone}>PhoneNumber</td>
        <td th:text=${invoice.courseName}>CourseName</td>
        <td th:text=${invoice.startDate}>CourseName</td>
        <td th:text=${invoice.endDate}>CourseName</td>
        <td th:text=${invoice.money}>CourseName</td>
        <td>
            <form th:action="@{/invoices/payment}" method="post">
                <input type="hidden" id="teacherId" class="form-control" name="invoiceId"
                       th:value="${invoice.invoiceId}"/>

                <button class="btn btn-primary btn-xs center-block" type="submit" name="action"
                        th:text="Paid">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
            </form>
        </td>
    </tr>

    </tbody>
</table>
</body>
</html>