<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/header">header</div>
<div th:if="${contractDto}">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Phone</th>
            <th scope="col">Course</th>
            <th scope="col">Date(start)</th>
            <th scope="col">Date(end)</th>
            <th scope="col">Time(start)</th>
            <th scope="col">Time(end)</th>
            <th scope="col">Teacher</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text=${contractDto.studentName}>FirstName</td>
            <td th:text=${contractDto.studentLastName}>LastName</td>
            <td th:text=${contractDto.phone}>Phone</td>
            <td th:text=${contractDto.courseName}>CourseName</td>
            <td th:text=${contractDto.startDate}>startDate</td>
            <td th:text=${contractDto.endDate}>endDate</td>
            <td th:text=${contractDto.startTime}>startTime</td>
            <td th:text=${contractDto.endTime}>endTime</td>
            <td th:text=${contractDto.teacherName}>teacherName</td>
        </tr>


        </tbody>
    </table>
</div>

<div th:if="!${contractDto}">
    <div id="content" class="container">
        <div class="panel-heading">
            <div class="col-xs-6 col-md-offset-3">
                <h2 id="reset-password-header">
                    <center>Find Contract by phone</center>
                </h2>
            </div>
            <hr/>
        </div>
        <div class="panel-body">
            <form th:action="@{/contracts/find-by-phone}" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone number">
                </div>
                <center>
                    <div class="form-group">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit" name="create-course-submit" id="search-contract-submit"
                                   tabindex="4"
                                   class="btn btn-primary btn-lg"/>
                        </div>
                    </div>
                </center>
            </form>
        </div>
    </div>
</div>
</body>
</html>