<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/header">header</div>
<center>
    <th:block th:if="${errorMessage == null AND successMessage == null}">
        <div class="alert alert-success" role="alert">
            For everybody that use this project:
            1)The first you should create teacher, and go to all teacher and activate.
            2) Then you should create new course.
            3) Then you can go to create contract or create student. If you choose create contract you will get a page
            on which you must create a student.
            4) After creating student you can create contract.
        </div>
    </th:block>
    <div>
        <th:block th:if="${errorMessage != null}">
            <div class="alert alert-danger" th:text="${errorMessage}">Error!!</div>
            <br/>
        </th:block>
        <th:block th:if="${successMessage != null}">
            <div class="alert alert-success" th:text="${successMessage}">Success</div>
            <br/>
        </th:block>
    </div>
</center>
<div id="footer" style="background-color: #d9fcc5;">

</div>
</body>
</html>