<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/header">header</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">Phone</th>
        <th scope="col">Course</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
        <td th:text=${student.firstName}>FirstName</td>
        <td th:text=${student.lastName}>LastName</td>
        <td th:text=${student.phoneNumber}>PhoneNumber</td>
        <td th:text=${student.courseName}>CourseName</td>
    </tr>

    </tbody>
</table>
</body>
</html>